Package: moon-blockchain-cli
Version: {{ MOON_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Moon Network Inc <root@mooncoin.top>
Description: Moon Blockchain
 Moon is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
